section.new-tweet h2 {
  border-bottom: 1px solid black;
}

section.new-tweet{
  margin: 0 2em auto;
  padding: 0 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #eee;
  font-family: "Roboto Condensed", sans-serif;
}

section.new-tweet textarea{
  padding-top: 5px;
  padding-left: 5px;
  width: 100%;
  box-sizing: border-box;
}
section.new-tweet .counter{
  float: right; 
}

.invalid{
  color: red;
}

#too-short,
#too-long{
  display:none; 
}

#too-short.show,
#too-long.show{
  display:initial;
}