section#tweet-list article{
  opacity:0.7;
  margin: 10px 2em;
  border: 1px solid lightgray;
  border-radius: 5px;
}

section#tweet-list article header{
  background-color: #eee;
  overflow: auto;
  padding-bottom: 10px;
}

section#tweet-list article header .avatar {
  margin: 5px 5px 0;
  width:50px;
  height:50px;
  border-radius: 10px;
  float: left;
}

section#tweet-list article header .full-name{
  font-weight: bold;
  font-size: 1.75em;
}

section#tweet-list article header .alias{
  padding-right: 5px;
  padding-top: 25px;
  float:right;
}

section#tweet-list article .msg{
  clear:both;
  padding: 15px;
}

section#tweet-list footer{
  border-top: 1px solid lightgrey;
  
}

section#tweet-list footer .timestamp{
  padding: 5px 5px 5px;
  line-height: 2em;
  font-size:0.8em;
}
section#tweet-list article:hover{
  opacity:1.0;
}